.body {
    position: fixed;
    bottom: 2rem;
    width: 80vw;
    left: 10vw;
    height: 72vh;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
}

.loading {
    padding: 32vh 37vw;
}