.body {
    position: fixed;
    width: 80vw;
    left: 10vw;
    max-height: 30rem;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
    top: 10rem;
}

.loading {
    padding: 32vh 37vw;
}