.button svg {
    width: 2.5rem;
    height: 2.5rem;
}
.smallButton svg {
    width: 2rem;
    height: 2rem;
}
.visuallyHidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1rem;
    margin: -1rem ;
    overflow: hidden;
    padding: 0;
    position:absolute;
    top: 20rem;
    width: 1rem;
}
.narrowToolBar{
    min-height: 55px!important;
}

.paper{
    width: 100% !important;
}